fastapi==0.109.2
uvicorn==0.27.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
supabase==2.3.4
rq==1.15.1
redis==5.0.1
ffmpeg-python==0.2.0
ftfy==6.1.3
regex==2023.12.25
tqdm==4.66.2
git+https://github.com/openai/CLIP.git
pydantic==2.6.1
pydantic-settings==2.1.0
sqlalchemy==2.0.27
python-multipart==0.0.9
requests==2.31.0
